products.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/demosoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/demosoap/gen" targetNamespace="http://www.example.com/demosoap/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/demosoap/gen">

    <!-- Solicitud para obtener todos los productos -->
    <xs:element name="getProductsRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Secuencia vacía, no se requiere ningún parámetro -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta para obtener todos los productos -->
    <xs:element name="getProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Lista de productos, puede tener múltiples elementos -->
                <xs:element maxOccurs="unbounded" name="products" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Solicitud para obtener un producto por su nombre -->
    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Nombre del producto a buscar -->
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta para obtener un producto por su nombre -->
    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Producto encontrado -->
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Solicitud para guardar un producto -->
    <xs:element name="postProductRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Producto a guardar -->
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta para la solicitud de guardar un producto -->
    <xs:element name="postProductResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Producto guardado -->
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Solicitud para actualizar un producto -->
    <xs:element name="updateProductRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Producto a actualizar -->
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta para la solicitud de actualizar un producto -->
    <xs:element name="updateProductResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Producto actualizado -->
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Solicitud para eliminar un producto -->
    <xs:element name="deleteProductRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Identificador del producto a eliminar -->
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta para la solicitud de eliminar un producto -->
    <xs:element name="deleteProductResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Confirmación de eliminación (puede ser un mensaje o un booleano) -->
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definición del tipo complejo 'product' -->
    <xs:complexType name="product">
        <xs:sequence>
            <!-- Identificador del producto -->
            <xs:element name="id" type="xs:int"/>
            <!-- Nombre del producto -->
            <xs:element name="name" type="xs:string"/>
            <!-- Precio del producto -->
            <xs:element name="price" type="xs:double"/>
            <!-- Descripción del producto -->
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProductRequest">
    <wsdl:part element="tns:getProductRequest" name="getProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsResponse">
    <wsdl:part element="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postProductRequest">
    <wsdl:part element="tns:postProductRequest" name="postProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part element="tns:updateProductRequest" name="updateProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part element="tns:updateProductResponse" name="updateProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part element="tns:deleteProductRequest" name="deleteProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postProductResponse">
    <wsdl:part element="tns:postProductResponse" name="postProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part element="tns:getProductResponse" name="getProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part element="tns:deleteProductResponse" name="deleteProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsRequest">
    <wsdl:part element="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductPort">
    <wsdl:operation name="getProduct">
      <wsdl:input message="tns:getProductRequest" name="getProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductResponse" name="getProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input message="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postProduct">
      <wsdl:input message="tns:postProductRequest" name="postProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:postProductResponse" name="postProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input message="tns:updateProductRequest" name="updateProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateProductResponse" name="updateProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input message="tns:deleteProductRequest" name="deleteProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteProductResponse" name="deleteProductResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductPortSoap11" type="tns:ProductPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="postProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductPortService">
    <wsdl:port binding="tns:ProductPortSoap11" name="ProductPortSoap11">
      <soap:address location="http://localhost:8090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>